<%= form_for @parent_thread = ForumThread.new do |f| %>
  <ul>
    <% @parent_thread.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  <p>
    <%= f.label :Assunto %><br />
    <%= f.text_field :subject %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>